.Rproj.user
.Rhistory
.RData
.Ruserdata

2017/Censo_SUAS_2016-2017.docx
*.html
*.log
*.pptx
2017/Censo_SUAS_2016-2017_cache
2017/Censo_SUAS_2016-2017_files
~$*
Censo SUAS 2015
Censo SUAS 2016
Censo SUAS 2017
